# Local browser settings
HEADLESS=true
AMAZON_BASE_URL=https://www.amazon.com
AMAZON_ZIP_CODE=10001
DEFAULT_TIMEOUT_MS=30000

# LambdaTest cloud settings (bonus)
RUN_ON_LAMBDATEST=false
LT_USERNAME=your_lambdatest_username
LT_ACCESS_KEY=your_lambdatest_access_key
LT_PLATFORM=Windows 11
LT_BROWSER=Chrome
LT_BUILD_NAME=Amazon Automation Assignment
